.wrapper
  =render partial: "shared/header"

  .side
    =render partial: "shared/side", collection: @tags

  .main
    %h2 Profile
    .profile
      .profile__head
        .profile__head__name
          = @name
        .edit_btn
        - if @user == current_user
          = link_to "Edit", "/users/#{current_user.id}/edit", class: "post-btn"
      .profile__body
        .profile__body__image
          = image_tag @user.image.url if @user.image.present?
        .profile__body__about
          = @about
      
  
    %h2 Posts by #{@name}
    = render partial: "users/post", collection: @posts

    = paginate(@posts)

