.wrapper
  =render partial: "shared/header"

  .side
    =render partial: "shared/side", collection: @tags

  .main
    %h2 Profile
    .profile
      .profile__image
      -# - if current_user.avatar? && @user == current_user
      -#   = image_tag current_user.avatar.variant(resize: '200x200')
      .profile__name
        = @name
      .profile__about
        = @about
      .edit_btn
      - if @user == current_user
        = link_to "Edit", "/users/#{current_user.id}/edit", class: "post-btn"
      
  
    %h2 Posts
    = render partial: "users/post", collection: @posts

    = paginate(@posts)

