.header
  .header__logo 
    =link_to "Blogs", root_path, class: 'btn'
  %ul.menu
    - if user_signed_in?
      %li.menu1
        = link_to "Posting", new_post_path, class: 'btn'
      %li.menu2
        = link_to "My Page", "/users/#{current_user.id}",class: 'btn'
      %li.menu3
        = link_to "Log Out", destroy_user_session_path, method: :delete, class: 'btn'
    - else
      %li.menu1
        = link_to "Sign Up", new_user_registration_path, class: 'btn'
      %li.menu2
        = link_to "Log In", new_user_session_path, class: 'btn'