.post
  .post__head
    .post__head__title
      %span
      = post.title
    .post__head__user
      name
    .post__head__date
      = post.created_at.strftime("%Y/%m/%d %H:%M")
  .post__text
    = post.text
  .post__image
    = image_tag post.image.url if post.image.present?
  .post__links
    .post__links__tag #tag
    .post__links__edit
      = link_to "Edit", "/posts/#{post.id}/edit", class: "btn"
    .post__links__delete
      = link_to "Delete", "/posts/#{post.id}", method: :delete, class: "btn"
  .post__foot
    .post__foot__comment comment
    .post__foot__write write
    .post__foot__like like

-# .post
-#   .post__head
-#     .post__head__title
-#       %span Title
-#     .post__head__user user
-#     .post__head__date date
-#   .post__text text
-#   .post__image image
-#   .post__links
-#     .post__links__tag #tag
-#     .post__links__edit edit
-#     .post__links__delete delete
-#   .post__foot
-#     .post__foot__comment comment
-#     .post__foot__write write
-#     .post__foot__like like