.post
  .post__head
    .post__head__title
      %span
      = post.title
    .post__head__user
      = link_to "#{post.user.name}", "/users/#{post.user.id}", class: 'post-btn'
    .post__head__date
      = post.created_at.strftime("%Y/%m/%d %H:%M")
  .post__text
    = post.text
  .post__image
    = image_tag post.image.url if post.image.present?
  .post__links
    .post__links__genre #Genre
    .post__links__tag
      - if post.tags.present?
        - post.tags.each do |tag|
          = tag.tag
  .post__foot
    .post__foot__comment
      = link_to "/posts/#{post.id}" do
        = fa_icon 'comments', class: "post-btn"
    - if user_signed_in?
      .post__foot__edit
        = link_to "/posts/#{post.id}/edit" do
          = fa_icon 'edit', class: "post-btn" if current_user.id == post.user.id
      .post__foot__delete
        = link_to "/posts/#{post.id}", method: :delete do
          = fa_icon 'trash', class: "post-btn" if current_user.id == post.user.id
      .post__foot__like
        = render 'likes/like', post: post