.wrapper
  =render partial: "shared/header"

  .side
    =render partial: "shared/side", collection: @tags

  .main
    %h2 投稿する
    = form_for (@post) do |f|
      .field
        = f.label :title
        %br/
        = f.text_field :title, placeholder: "Title"
      .field
        = f.label :text
        %br/
        = f.text_area :text, placeholder: "Text"
      .field
        = f.label :image
        %br/
        = f.file_field :image
      .field
        = f.label :genre
        %br/
        = f.collection_check_boxes :tag_ids, Tag.all, :id, :tag do |b|
          = b.label{ b.check_box + b.text }
      %br/
      = f.submit "Send", class: "btn"