.wrapper
  =render partial: "shared/header"

  .side
    =render partial: "shared/side", collection: @tags

  .main
    %h2 Post
    .post
      .post__head
        .post__head__title
          %span
          = @post.title
        .post__head__user
          = link_to "#{@post.user.name}", "/users/#{@post.user.id}", class: 'post-btn'
        .post__head__date
          = @post.created_at.strftime("%Y/%m/%d %H:%M")
      .post__text
        = @post.text
      .post__image
        = image_tag @post.image.url if @post.image.present?
      .post__links
        .post__links__genre #Genre
        .post__links__tag
          - if @post.tags.present?
            - @post.tags.each do |tag|
              = tag.tag
      .post__foot
        .post__foot__edit
          = link_to "Edit", "/posts/#{@post.id}/edit", class: "post-btn" if current_user.id == @post.user.id
        .post__foot__delete
          = link_to "Delete", "/posts/#{@post.id}", method: :delete, class: "post-btn" if current_user.id == @post.user.id
        .post__foot__like
          /= render 'likes/like', @post: post
      .post__comment
        = form_for [@post, @comment] do |f|
          .field
            = f.text_area :text, placeholder: "Comment", class: "field__text"
          = f.submit "Send", class:"btn"
    .comments
      %h2 Comments
      - if @comments
        - @post.comments.each do |comment|
          .comment
            %p.comment__name
              = link_to "#{comment.user.name}", "/users/#{comment.user.id}", class: 'post-btn'
            %p.comment__text
              = comment.text
      - else
        %p コメントはありません